<!-- Page Footer-->
<!-- Default footer-->
<footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-darkest">
	<div class="shell">
		<div class="range range-sm-center text-md-left">
			<div class="cell-sm-8 cell-md-12">
				<div class="range range-xs-center">
					<div class="cell-xs-10 cell-md-5 cell-md-push-2">
						<h6 class="text-uppercase text-spacing-60 font-default text-white">Newsletter</h6>
						<div class="inset-lg-right-80">
							<p class="text-muted">Keep up with our always upcoming news and updates. Enter your e-mail and subscribe to our newsletter.</p>
						</div>
						<div class="offset-top-30">
							<div class="inset-lg-right-93">
								<form data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform">
									<div class="form-group">
										<div class="input-group input-group-sm"><span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
											<input placeholder="Type your E-Mail" type="email" name="email" data-constraints="@Required @Email" class="form-control"><span class="input-group-btn">
																<button type="submit" class="btn btn-sm btn-primary">Subscribe</button></span>
										</div>
									</div>
									<div id="form-subscribe-footer" class="form-output"></div>
								</form>
							</div>
						</div>
					</div>
					<div class="cell-xs-4 cell-md-2 offset-top-50 offset-md-top-0 cell-md-push-3 text-xs-left">
						<h6 class="text-uppercase text-spacing-60 font-default text-white">Cities</h6>
						<div class="reveal-block">
							<div class="reveal-inline-block">
								<ul class="list list-unstyled list-inline-primary">
									<li class="text-primary"><a href="#">New York</a></li>
									<li class="text-primary"><a href="#">San Diego</a></li>
									<li class="text-primary"><a href="#">Los Angeles</a></li>
									<li class="text-primary"><a href="#">Boston</a></li>
									<li class="text-primary"><a href="#">Washington</a></li>
									<li class="text-primary"><a href="#">Chicago</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="cell-xs-4 cell-md-2 offset-top-50 offset-md-top-0 cell-md-push-3 text-xs-left">
						<h6 class="text-uppercase text-spacing-60 font-default text-white">Categories</h6>
						<div class="reveal-block">
							<div class="reveal-inline-block">
								<ul class="list list-unstyled list-inline-primary">
									<li class="text-primary"><a href="#">Healthcare</a></li>
									<li class="text-primary"><a href="#">Automobile Jobs</a></li>
									<li class="text-primary"><a href="#">Food Services</a></li>
									<li class="text-primary"><a href="#">Construction</a></li>
									<li class="text-primary"><a href="#">Logistics</a></li>
									<li class="text-primary"><a href="#">Finance</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="cell-md-3 offset-top-50 offset-md-top-0 cell-md-push-1">
						<!-- Footer brand-->
						<div class="footer-brand">
							<a href="index.html"><img width='218' height='35' src='images/logo.png' alt='' /></a>
						</div>
						<ul class="list-inline list-inline-sm reveal-inline-block offset-top-34 post-meta text-dark list-inline-primary">
							<li><a href="#"><span class="icon icon-xxs fa-facebook"></span></a></li>
							<li><a href="#"><span class="icon icon-xxs fa-twitter"></span></a></li>
							<li><a href="#"><span class="icon icon-xxs fa-google-plus"></span></a></li>
							<li><a href="#"><span class="icon icon-xxs fa-youtube-play"></span></a></li>
							<li><a href="#"><span class="icon icon-xxs fa-instagram"></span></a></li>
						</ul>
						<p class="text-dark offset-top-50">Intense JB &copy; <span id="copyright-year"></span> . <a href="#">Privacy Policy</a> More Business Website Templates at <a rel="nofollow" href="http://www.templatemonster.com/category/business-web-templates/" target="_blank">TemplateMonster.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- partial:_scripts.html -->
<!-- partial -->

<!-- partial:_analytics.html -->
<!-- partial -->
