<!-- - RD Navbar-->
<!-- RD Navbar Transparent-->
<div class="rd-navbar-wrap">
	<nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar container rd-navbar-floated rd-navbar-dark rd-navbar-dark-transparent" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
					data-lg-stick-up="true">
		<div class="rd-navbar-inner">
			<!-- RD Navbar Panel -->
			<div class="rd-navbar-panel">
				<!-- RD Navbar Toggle-->
				<button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
				<!-- RD Navbar Top Panel Toggle-->
				<button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-right-buttons" class="rd-navbar-right-buttons-toggle"><span></span></button>
				<!--Navbar Brand-->
				<div class="rd-navbar-brand">
					<a href="index.html"><img width='218' height='35' src='images/logo.png' alt='' /></a>
				</div>
			</div>
			<div class="rd-navbar-menu-wrap">
				<div class="rd-navbar-nav-wrap">
					<div class="rd-navbar-mobile-scroll">
						<!--Navbar Brand Mobile-->
						<div class="rd-navbar-mobile-brand">
							<a href="index.html"><img width='218' height='35' src='images/logo.png' alt='' /></a>
						</div>
						<!-- RD Navbar Nav-->
						<ul class="rd-navbar-nav">
							<li class="active"><a href="index.html"><span>Home</span></a>
							</li>
							<li><a href="find-job.html"><span>Find a Job</span></a>
							</li>
							<li><a href="post-job.html"><span>Post a Job</span></a>
							</li>
							<li><a href="#"><span>Pages</span></a>
								<ul class="rd-navbar-dropdown">
									<li><a href="about-us.html"><span class="text-middle">About Us</span></a>
									</li>
									<li><a href="your-career-starts-here.html"><span class="text-middle">Your Career Starts Here</span></a>
									</li>
									<li><a href="resume-page.html"><span class="text-middle">Resume Page</span></a>
									</li>
									<li><a href="project-managers.html"><span class="text-middle">Project Managers</span></a>
									</li>
									<li><a href="faq.html"><span class="text-middle">FAQ</span></a>
									</li>
									<li><a href="contact-us.html"><span class="text-middle">Contact Us</span></a>
									</li>
								</ul>
							</li>
							<li><a href="blog.html"><span>Blog</span></a>
							</li>
						</ul>
					</div>
				</div>
				<!--RD Navbar Search-->
				<div class="rd-navbar-right-buttons group reveal-inline-block"><a href="register-login.html#undefined1" style="max-height: 40px; line-height: 22px;" target="_blank" class="btn btn-primary"><span class="big">Login</span></a>
					<div class="text-middle reveal-lg-inline-block">
						<p class="big text-muted text-bold">or</p>
					</div><a href="register-login.html#undefined2" style="max-height: 40px; line-height: 22px;" target="_blank" class="btn btn-primary text-middle"><span class="big">Register</span></a>
				</div>
			</div>
		</div>
		</nav>
</div>
